<% messages.forEach(function(message){%>
<% if(message.type='at'){%>
<% include public/at %>
<% }else if(message.type ='reply'){%>
<% include public/reply-list.ejs %>
<% }else if(message.type='comment'){%>
<% include public/comment.ejs %>
<%}%>
<!--<div class="aw-item" style="padding-left: 0">-->
<!--<div>-->
<!--<a href="#"><%= message.author_id.name %></a>-->
<!--在-->
<!--<a href="#"><%= message.question_id.title %></a>-->
<!--中@我-->
<!--</div>-->
<!--</div>-->
<%})%>